body {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #666666;
  background-color: white;
}

/* Breadcrumb CSS from http://alistapart.com/article/taminglists/ for demo purposes - in real life, get Bootstrap to handle this */

#bread {
 padding: 10px;
 }
 #bread ol {
 margin-left: 0;
 padding-left: 0;
 display: inline;
 border: none;
 }
 #bread ol li {
 margin-left: 0;
 padding-left: 2px;
 border: none;
 list-style: none;
 display: inline;
 }