---
no_mini_toc: true
title: Getting Started
---

<div class="row">
	<div class="col-md-4">
		<a name="getting-started-with-xl-deploy"></a><img class="splash-page-logo img-no-border" src="/images/logos/xl-deploy-logo.png" alt="XL Deploy" title="XL Deploy">
	</div>
	<div class="col-md-6">
		{% include get_started_xld.html %}
	</div>
</div>

<div class="row indexpagerow">
	<div class="col-md-4">
		<a name="getting-started-with-xl-release"></a><img class="splash-page-logo img-no-border" src="/images/logos/xl-release-logo.png" alt="XL Release" title="XL Release">
	</div>
	<div class="col-md-6">
		{% include get_started_xlr.html %}
	</div>
</div>
<div class="row indexpagerow">
	<div class="col-md-4">
		<img class="splash-page-logo img-no-border" src="/images/logos/xl-testview-logo.png" alt="XL TestView" title="XL TestView">
	</div>
	<div class="col-md-6">
		{% include get_started_xltv.html %}
	</div>
</div>
