---
title: Tags and subjects
---

<div class="col-md-2">

	<h4>All tags</h4>

	{% capture all_page_tags %}{% for page in site.pages %}{% for tag in page.tags %}{{ tag }},{% endfor %}{% endfor %}{% endcapture %}
	{% assign sorted_page_tags = all_page_tags | split:',' | sort %}

	{% assign tags_used = '' %}
	{% assign counter = 0 %}

	<ul class="list-unstyled">
		{% for item in sorted_page_tags %}
			{% capture tag_to_check %},{{ item }},{% endcapture %}
			{% unless tags_used contains tag_to_check %}
				{% capture modulus %}{{ counter | mod:10 }}{% endcapture %} 
				{% if counter != 0 %} 
					{% if modulus == "0" %} 
						</ul></li><li><ul> 
					{% endif %}
				{% endif %}
				{% capture tag_to_search_for %}{{ item }}{% endcapture %}
				<li>{{ tag_to_search_for }}</li>		
				{% capture tags_used %}{{ tags_used }}{{ tag_to_check }}{% endcapture %}
				{% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
			{% endunless %}
		{% endfor %}
	</ul>

</div>

<div class="col-md-2">

	<h4>All XL Deploy tags</h4>

	{% capture all_page_tags %}{% for page in site.pages %}{% if page.categories contains 'xl-deploy' %}{% for tag in page.tags %}{{ tag }},{% endfor %}{% endif %}{% endfor %}{% endcapture %}
	{% assign sorted_page_tags = all_page_tags | split:',' | sort %}

	{% assign tags_used = '' %}
	{% assign counter = 0 %}

	<ul class="list-unstyled">
		{% for item in sorted_page_tags %}
			{% capture tag_to_check %},{{ item }},{% endcapture %}
			{% unless tags_used contains tag_to_check %}
				{% capture modulus %}{{ counter | mod:10 }}{% endcapture %} 
				{% if counter != 0 %} 
					{% if modulus == "0" %} 
						</ul></li><li><ul> 
					{% endif %}
				{% endif %}
				{% capture tag_to_search_for %}{{ item }}{% endcapture %}
				<li>{{ tag_to_search_for }}</li>		
				{% capture tags_used %}{{ tags_used }}{{ tag_to_check }}{% endcapture %}
				{% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
			{% endunless %}
		{% endfor %}
	</ul>

</div>

<div class="col-md-2">

	<h4>All XL Release tags</h4>

	{% capture all_page_tags %}{% for page in site.pages %}{% if page.categories contains 'xl-release' %}{% for tag in page.tags %}{{ tag }},{% endfor %}{% endif %}{% endfor %}{% endcapture %}
	{% assign sorted_page_tags = all_page_tags | split:',' | sort %}

	{% assign tags_used = '' %}
	{% assign counter = 0 %}

	<ul class="list-unstyled">
		{% for item in sorted_page_tags %}
			{% capture tag_to_check %},{{ item }},{% endcapture %}
			{% unless tags_used contains tag_to_check %}
				{% capture modulus %}{{ counter | mod:10 }}{% endcapture %} 
				{% if counter != 0 %} 
					{% if modulus == "0" %} 
						</ul></li><li><ul> 
					{% endif %}
				{% endif %}
				{% capture tag_to_search_for %}{{ item }}{% endcapture %}
				<li>{{ tag_to_search_for }}</li>		
				{% capture tags_used %}{{ tags_used }}{{ tag_to_check }}{% endcapture %}
				{% capture counter %}{{ counter | plus: 1 }}{% endcapture %}
			{% endunless %}
		{% endfor %}
	</ul>

</div>

<div class="col-md-2" style="border-left: 1px solid #EEE;">

	<h4>All subjects</h4>

	{% capture all_page_subjects %}{% for page in site.pages %}{% for subject in page.subject %}{{ subject }},{% endfor %}{% endfor %}{% endcapture %}
	{% assign sorted_page_subjects = all_page_subjects | split:',' | sort %}

	{% assign subjects_used = '' %}
	{% assign subject_counter = 0 %}

	<ul class="list-unstyled">
		{% for item in sorted_page_subjects %}
			{% capture subject_to_check %},{{ item }},{% endcapture %}
			{% unless subjects_used contains subject_to_check %}
				{% capture subject_modulus %}{{ subject_counter | mod:10 }}{% endcapture %} 
				{% if subject_counter != 0 %} 
					{% if subject_modulus == "0" %} 
						</ul></li><li><ul> 
					{% endif %}
				{% endif %}
				{% capture subject_to_search_for %}{{ item }}{% endcapture %}
				<li>{{ subject_to_search_for }}</li>		
				{% capture subjects_used %}{{ subjects_used }}{{ subject_to_check }}{% endcapture %}
				{% capture subject_counter %}{{ subject_counter | plus: 1 }}{% endcapture %}
			{% endunless %}
		{% endfor %}
	</ul>

</div>

<div class="col-md-2">

	<h4>All XL Deploy subjects</h4>

	{% capture all_page_subjects %}{% for page in site.pages %}{% if page.categories contains 'xl-deploy' %}{% for subject in page.subject %}{{ subject }},{% endfor %}{% endif %}{% endfor %}{% endcapture %}
	{% assign sorted_page_subjects = all_page_subjects | split:',' | sort %}

	{% assign subjects_used = '' %}
	{% assign subject_counter = 0 %}

	<ul class="list-unstyled">
		{% for item in sorted_page_subjects %}
			{% capture subject_to_check %},{{ item }},{% endcapture %}
			{% unless subjects_used contains subject_to_check %}
				{% capture subject_modulus %}{{ subject_counter | mod:10 }}{% endcapture %} 
				{% if subject_counter != 0 %} 
					{% if subject_modulus == "0" %} 
						</ul></li><li><ul> 
					{% endif %}
				{% endif %}
				{% capture subject_to_search_for %}{{ item }}{% endcapture %}
				<li>{{ subject_to_search_for }}</li>		
				{% capture subjects_used %}{{ subjects_used }}{{ subject_to_check }}{% endcapture %}
				{% capture subject_counter %}{{ subject_counter | plus: 1 }}{% endcapture %}
			{% endunless %}
		{% endfor %}
	</ul>

</div>

<div class="col-md-2">

	<h4>All XL Release subjects</h4>

	{% capture all_page_subjects %}{% for page in site.pages %}{% if page.categories contains 'xl-release' %}{% for subject in page.subject %}{{ subject }},{% endfor %}{% endif %}{% endfor %}{% endcapture %}
	{% assign sorted_page_subjects = all_page_subjects | split:',' | sort %}

	{% assign subjects_used = '' %}
	{% assign subject_counter = 0 %}

	<ul class="list-unstyled">
		{% for item in sorted_page_subjects %}
			{% capture subject_to_check %},{{ item }},{% endcapture %}
			{% unless subjects_used contains subject_to_check %}
				{% capture subject_modulus %}{{ subject_counter | mod:10 }}{% endcapture %} 
				{% if subject_counter != 0 %} 
					{% if subject_modulus == "0" %} 
						</ul></li><li><ul> 
					{% endif %}
				{% endif %}
				{% capture subject_to_search_for %}{{ item }}{% endcapture %}
				<li>{{ subject_to_search_for }}</li>		
				{% capture subjects_used %}{{ subjects_used }}{{ subject_to_check }}{% endcapture %}
				{% capture subject_counter %}{{ subject_counter | plus: 1 }}{% endcapture %}
			{% endunless %}
		{% endfor %}
	</ul>

</div>
