/* XebiaLabs-specific styles */

.hidden { display: none; }
.indented { margin-left: 40px; }
.navbar { min-height: 75px; }
.breadcrumb { background-color: #FFFFFF; padding-left: 0; }
img { max-width: 650px; }
.xltopmenu { height: 75px; padding-top: 10px; }
.post-metadata { margin-bottom: 10px; }

/* Google Custom Search overrides */
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button, .gsc-inline-block {
  	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    line-height: normal; 
}
.gsc-tabsArea div {
	overflow: visible !important; 
}
.googlecse {
	width: 25%;
}
.cse .gsc-control-cse, .gsc-control-cse {
	background: none !important;
	border: none !important;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #333;
} 

/* Scroll-to-top button styles */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #888888;
    width: 50px;
    font-size: 38px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	color: #777777;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/* IE10 viewport width workaround */
/* See http://getbootstrap.com/getting-started/#support-ie10-width */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* Collapsible bulleted list */
.expList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.expList li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
.expList li li {
    list-style-type: circle;
    margin-left: 20px;
    padding: 0;
}
 
/* Collapsed state for list element */
.expList .collapsed {
    background-image: url(/images/bullet_right_arrow.png);
}
/* Expanded state for list element */
/* NOTE: This class must be located UNDER the collapsed one */
.expList .expanded {
	background-image: url(/images/bullet_down_arrow.png);
}
