#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    nbproc 8
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     40960
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 40000

listen stats
  bind :1936
  mode http
  stats enable
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth stats:stats

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend xl-http
  bind 0.0.0.0:80
  reqadd X-Forwarded-Proto:\ http
  default_backend xl-backend

frontend xl-https
  bind 0.0.0.0:443 ssl crt /etc/ssl/certs/xlperf.pem
  reqadd X-Forwarded-Proto:\ https
  option httplog
  log global
  acl url_xlr path_beg /xl-release
  acl url_xld path_beg /xl-deploy
  use_backend xld-backend if url_xld
  use_backend xlr-backend if url_xlr
  default_backend xl-backend

backend xld-backend
  server xld-1 xlperf1:9191 check

backend xlr-backend
  balance roundrobin
  option httpchk GET /xl-release/ha/health
  cookie JSESSIONID prefix
  server xlr-1 xlperf1:9192 check cookie xlperf1
  server xlr-2 xlperf2:9192 check cookie xlperf2

backend xl-backend
  redirect scheme https if !{ ssl_fc }


#frontend proxies
#  bind 0.0.0.0:80
#  reqadd X-Forwarded-Proto:\ http
#  maxconn 4096
#  default_backend nodes
#
##---------------------------------------------------------------------
## round robin balancing between the various backends
##---------------------------------------------------------------------
#backend nodes
#  cookie JSESSIONID prefix
#  balance roundrobin
#  server xlperf1 xlperf1:5516 cookie xlperf1 check port 5516
#  server xlperf2 xlperf2:5516 cookie xlperf2 check port 5516
#
