<div class="row filters">
    <div class="col-md-offset-2 col-md-7 col-xs-12 text-center">
        <span><i class="icon icon-trophy text-product"></i> <a href="#" class="filter-target">Product</a></span>
        <span><i class="icon icon-plug text-plugin"></i> <a href="#" class="filter-target">Plugins</a></span>
                <span><i class="glyphicon glyphicon-flag text-major"></i> <a href="#"
                                                                             class="filter-type">Major</a></span>
                <span><i class="icon icon-bug text-maintenance"></i> <a href="#"
                                                                        class="filter-type">Maintenance</a></span>
        <span><i class="icon icon-sort text-all"></i> <a href="#" class="filter-off">Show all</a></span>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-7">
        <form class="form-search form-inline">
            <input name="issue-filter" type="text" class="form-control search-query input-sm issue-filter"
                   placeholder="Search issue..."/>
        </form>
        <br>

        <div class="alert alert-info btn-group-sm text-center no-results" role="alert"
             style="display: none; padding: 5px;">No issues found
        </div>
    </div>
</div>