{% if release.release_target == "Product" %}
<span class="label bg-product">
    <i class="icon icon-trophy"></i>
    <span>{{ release.release_target }}</span>
</span>
{% else %}
<span class="label bg-plugin">
    <i class="icon icon-plug"></i>
    <span>{{ release.release_target }}</span>
</span>
{% endif %}
{% if release.release_type == "Major" %}
<span class="label bg-major">
    <i class="glyphicon glyphicon-flag"></i>
    <span>{{ release.release_type }}</span>
</span>
{% else %}
<span class="label bg-maintenance">
    <i class="icon icon-bug"></i>
    <span>{{ release.release_type }}</span>
</span>
{% endif %}