<ul class="list-unstyled issue-list" style="margin-left: 22px;">
    <ul class="list-unstyled issue-sublist">
        {% for issue in release.stories %}
        {% if forloop.length and forloop.first %}
        <span class="issue-header">New features</span>
        <hr/>
        {% endif %}
        <li class="issue">{{ issue.key }} - {{ issue.summary }}
        {%if issue.description != '' %}
        <a href="#" data-toggle="{{release.id}}-{{issue.key}}-desc" class="issue-more" style="font-size: 75%">more</a><br/>
        <div id="{{release.id}}-{{issue.key}}-desc" class="issue-description" style="display: none;">{{ issue.description }}</div>
        {% endif %}
        </li>
        {% endfor %}
    </ul>

    <ul class="list-unstyled issue-sublist">
        {% for issue in release.improvements %}
        {% if forloop.length and forloop.first %}
        <span class="issue-header">Improvements</span>
        <hr/>
        {% endif %}
        <li class="issue">{{ issue.key }} - {{ issue.summary }}
        {%if issue.description != '' %}
        <a href="#" data-toggle="{{release.id}}-{{issue.key}}-desc" class="issue-more" style="font-size: 75%">more</a><br/>
        <div id="{{release.id}}-{{issue.key}}-desc" class="issue-description" style="display: none;">{{ issue.description }}</div>
        {% endif %}
        </li>
        {% endfor %}
    </ul>

    <ul class="list-unstyled issue-sublist">
        {% for issue in release.bugs %}
        {% if forloop.length and forloop.first %}
        <span class="issue-header">Bug fixes</span>
        <hr/>
        {% endif %}
        <li class="issue">{{ issue.key }} - {{ issue.summary }}
            {%if issue.description != '' %}
            <a href="#" data-toggle="{{release.id}}-{{issue.key}}-desc" class="issue-more" style="font-size: 75%">more</a><br/>
            <div id="{{release.id}}-{{issue.key}}-desc" class="issue-description" style="display: none;">{{ issue.description }}</div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</ul>