{% for release in page.product.upcoming_releases %}
<div class="row release" data-release-type="{{ release.release_type }}"
     data-release-target="{{ release.release_target }}">
    <hr>
    <div class="col-md-2">
        {% include dashboard/release_tags.html %}
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12 section collapsed" data-toggle="collapse" data-target="#{{release.id}}-upcoming-issues" style="cursor: pointer; cursor: hand;">
                <span>Fixes in {{ release.title }}</span>
            </div>
        </div>
        <div class="row collapse" id="{{release.id}}-upcoming-issues">
            <div class="col-md-12">
                {% include dashboard/release_issues.html %}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <b>Planned release:</b>
        <br/>

        <p class="text-all">
            {% if release.precise_date %}
            {{ release.release_date | date: '%B' }}
            {% else %}
            {% assign rm = release.release_date | date: "%-m" %}
            {% case rm %}
            {% when '1' or '2' or '3' %} Q1
            {% when '4' or '5' or '6' %} Q2
            {% when '7' or '8' or '9' %} Q3
            {% when '10' or '11' or '12' %} Q4
            {% endcase %}
            {% endif %}
            {{ release.release_date | date: '%Y' }}
        </p>
    </div>
</div>
{% endfor %}