<h2 id="browse-the-documentation-xli">Browse the documentation</h2>

	<ul>
		<li><a href="/{{ page.product-id }}/concept">Concepts</a> describe key information about {{ page.title }} and its plugins</li>
		<li><a href="/{{ page.product-id }}/how-to">How-to guides</a> walk you through processes in {{ page.title }}</li>
		{% comment %}<li><a href="#references">Product and plugin references</a> provide version-specific technical details about {{ page.title }} APIs and configuration items</li>
    {% endcomment %}
		<li><a href="#browse-documentation-by-subject">Subjects</a> and <a href="#browse-documentation-by-tag">tags</a> let you browse the documentation by topic</li>
	</ul>
