<footer id="footer">
	<section id="footer-bottom">
		<div class="container-fluid hidden-print">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
					<a href="https://xebialabs.com/"><img src="/images/logos/xebialabs-white.png" alt="Visit xebialabs.com" title="Visit xebialabs.com" class="mini-logo-img"></a>
				</div>
				<div class="pull-right col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
					<p>&#169; Copyright 2016. XebiaLabs, Inc. All rights reserved &#149; <a href="https://xebialabs.com/privacy-policy/">Privacy Policy</a> &#149; <a href="https://xebialabs.com/contact/">Contact</a></p>
				</div>
			</div>
		</div>
	</section>
</footer>

<script src="/js/anchor_links.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<script>
$(document).ready(function() {
	// Initialize navgoco with default options
	$(".nav-beta").navgoco({
		caretHtml: '',
		accordion: false,
		openClass: 'open',
		save: true,
		cookie: {
			name: 'navgoco',
			expires: false,
			path: '/'
		},
		slide: {
			duration: 400,
			easing: 'swing'
		},
	});

	$("#collapseAll").click(function(e) {
		e.preventDefault();
		$(".nav-beta").navgoco('toggle', false);
	});

	$("#expandAll").click(function(e) {
		e.preventDefault();
		$(".nav-beta").navgoco('toggle', true);
	});
	});
</script>

</body>
</html>
