<!-- Start footer -->
<div class="footer">
	<div class="container-fluid">
		<div class="row">
			
			<!-- Copyright -->
			<div id="copy" class="col-md-4 col-md-offset-2">
				<h2>XebiaLabs is the leader in scalable and reliable software delivery automation for the enterprise.</h2>
				<ul class="list-inline">
					<li><a href="http://support.xebialabs.com/home">Support</a></li>
					<li><a href="http://xebialabs.com/privacy-policy.html">Privacy Policy</a></li>
					<li><a href="http://www.xebialabs.com/company/overview/">Contact</a></li>
					<li><a href="http://blog.xebialabs.com/">Blog</a></li>
				</ul>
				<p>&copy; Copyright {{ site.time | date: "%Y" }}. XebiaLabs, Inc. All rights reserved</p>
			</div> <!-- /.copy -->

			<!-- Socials -->
			<div id="socials" class="col-md-4 col-md-offset-1">
				<h2>Connect with us!</h2>
				{% include footer_socials.html %}
			</div> <!-- /.socials -->

		</div> <!-- /.row -->
	</div> <!-- /.container-fluid -->
</div> <!-- /.footer -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.url }}/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.url }}/js/ie10-viewport-bug-workaround.js"></script>
	<!-- Dynamic scroll-to-top button -->
	<script src="{{ site.url }}/js/scroll_button_show_hide.js"></script>
	<script src="{{ site.url }}/js/scroll_button_scroll_to_top.js"></script>

</body>
</html>
<!-- End footer -->