<ul>
	<li><a href="https://xebialabs.com/products/xl-deploy/trial/"><strong>Try XL Deploy for free</strong></a></li>
	<li><a href="/xl-deploy/concept/requirements-for-installing-xl-deploy.html">Requirements for installing XL Deploy</a></li>
	<li><a href="/xl-deploy/how-to/install-xl-deploy.html">Install XL Deploy</a></li>
	<li><a href="/xl-deploy/concept/key-xl-deploy-concepts.html">Read about the core concepts</a></li>
	<li><a href="/xl-deploy/how-to/get-started-with-xl-deploy.html">Get started using XL Deploy</a></li>
</ul>
