<ul>
	<li><a href="https://xebialabs.com/products/xl-testview/trial/"><strong>Try XL TestView for free</strong></a></li>
	<li><a href="/xl-testview/how-to/install.html#prerequisites">Requirements for installing XL TestView</a></li>
	<li><a href="/xl-testview/how-to/install.html">Install XL TestView</a></li>
	<li><a href="/xl-testview/concept/key-concepts.html">Read about the core concepts</a></li>
	<li><a href="/xl-testview/how-to/getting-started.html">Get started using XL TestView</a></li>
</ul>
