<ul>
	<li><a href="https://xebialabs.com/products/xl-release/trial/"><strong>Try XL Release for free</strong></a></li>
	<li><a href="https://xebialabs.com/products/xl-release/plugins/">Check out XL Release plugins</a></li>
	<li><a href="/xl-release/concept/requirements-for-installing-xl-release.html">Requirements for installing XL Release</a></li>
	<li><a href="/xl-release/how-to/install-xl-release.html">Install XL Release</a></li>
	<li><a href="/xl-release/concept/core-concepts-of-xl-release.html">Read about the core concepts</a></li>
	<li><a href="/xl-release/how-to/get-started-with-xl-release.html">Get started with XL Release</a></li>
</ul>
