<div class="hidden-print">

    {% capture url %}{% if page.language %}{{ page.url | remove: "/" | remove: page.language }}{% else %}{{ page.url | remove: "/" }}{% endif %}{% endcapture %}
    {% if url.size > 0 %}
      <nav class="breadcrumbs hidden-xs">

        <a class="breadcrumb-item" href="/">XebiaLabs documentation</a>

        <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">

        {% comment %} Iteration breadcrumb item {% endcomment %}
        {% assign position = 0 %}
        {% for crumb in breadcrumbs %}

          {% comment %} Skip if root {% endcomment %}
          {% if crumb.url == "/" %}
            {% continue %}
          {% endif %}

          {% comment %} Skip if language directory {% endcomment %}
          {% if page.language %}
            {% assign langpath = crumb.url | remove: "/" %}
            {% if langpath == page.language %}
              {% continue %}
            {% endif %}
          {% endif %}

          {% comment %} Get breadcrumb title. Insert snippet from configuration description to translates breadcrumb if language plugin is installed and YAML subset is set {% endcomment %}
          {% assign caption = crumb.title %}

          {% comment %} SEO data {% endcomment %}
          {% assign position = position  | plus: 1 %}

          <li class="breadcrumb-item{% if crumb.url == page.url %} active{% endif %}" property="itemListElement" typeof="ListItem">
            {% if crumb.url != page.url %}<a property="item" typeof="WebPage" href="{{ crumb.url }}">{% endif %}
            <span property="name">{{ caption }}</span>
            {% if crumb.url != page.url %}</a>{% endif %}
            <meta property="position" content="{{ position }}" />
          </li>

        {% endfor %}

        </ol>

      </nav>
    {% endif %}

</div>
