{% assign product-id-to-search-for = page.product-id %}

{% capture all_page_subjects %}{% for page in site.pages %}{% if page.path contains product-id-to-search-for and page.path contains 'concept' %}{% for subject in page.subject %}{{ subject }},{% endfor %}{% endif %}{% endfor %}{% endcapture %}
{% assign sorted_page_subjects = all_page_subjects | split:',' | sort %}

{% assign subjects_used = '' %}
{% assign subject_counter = 0 %}

<ul>
	{% for item in sorted_page_subjects %}
		{% capture subject_to_check %},{{ item }},{% endcapture %}
		{% unless subjects_used contains subject_to_check %}
			{% capture subject_modulus %}{{ subject_counter | mod:10 }}{% endcapture %} 
			{% if subject_counter != 0 %} 
				{% if subject_modulus == "0" %} 
					</ul></li><li><ul> 
				{% endif %}
			{% endif %}
			{% capture subject_to_search_for %}{{ item }}{% endcapture %}
			<li>{{ subject_to_search_for }}
				<ul>
					{% for page in site.pages %}
						{% if page.subject contains subject_to_search_for and page.path contains product-id-to-search-for and page.path contains 'concept' %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>	
			</li>		
			{% capture subjects_used %}{{ subjects_used }}{{ subject_to_check }}{% endcapture %}
			{% capture subject_counter %}{{ subject_counter | plus: 1 }}{% endcapture %}
		{% endunless %}
	{% endfor %}
</ul>
