{% for product in site.data.products %}
	{% if product.id == page.product-id %}
		<p>{{ product.blurb }}</p>
		{% comment %}
		<p>For information about upcoming releases, visit the <a href="/tracker/{{ page.product-id }}-tracker.html">Fix Tracker</a>.</p>
		{% endcomment %}
		<p>XL Impact approaches data analysis from a big picture view, showing the story of your data and providing related recommendations for your process as a whole. This analysis covers data integrated from essential sources in your CI/CD toolchain, including Github, Jenkins, Jira, and the XL suite of products. For development teams, engineering managers, and technology leaders at organizations undertaking a DevOps transformation, diving into process improvement holistically will empower grounded, meaningful decisions that drive positive organizational change.
    </p>
		<p>Based on your selected goals, XL Impact provides the hard data and insights you need to make the best decisions and lead organizational transformation. Incorporating XebiaLabs’ years of expertise as a DevOps innovator, XL Impact selects and tracks the KPIs that are most crucial for evaluating progress for those goals. Each KPI is broken into consumable, understandable metrics that can be shared with stakeholders and turned into team actions. Some highlights include:
      <ul>
				 <li><i>Customizable analysis</i> to specify and collect a set of metrics that are tailored to your organization’s unique structure and related challenges
         </li>
				 <li><i>Insight summaries</i> for each goal that capture overall trends in plain language and encourage targeted risk analysis
         </li>
				 <li><i>High performer analysis</i> that exposes the characteristics of your best releases to support future planning, process improvement, and goal-setting
				 </li>
				 <li><i>Context-sensitive comparisons</i> to evaluate issues using realistic “like to like” analysis, enabling actionable problem identification
				 </li>
			</ul>
		</p>
		<p>Browse the documentation below to get started using XL Impact.
		</p>
	{% endif %}
{% endfor %}
