{% for product in site.data.products %}
	{% if product.id == page.product-id %}
		<p>{{ product.blurb }} Click <strong><a href="https://xebialabs.com/download/{{ product.id }}/">here</a></strong> to download your free trial today!</p>
		<p>To get started:</p>
			<ul>
				{% if product.installation-link %}<li><a href="{{ product.installation-link }}">Install {{ product.name }}</a></li>{% endif %}
				{% if product.key-concepts-link %}<li><a href="{{ product.key-concepts-link }}">Read about key concepts</a></li>{% endif %}
				{% if product.getting-started-link %}<li><a href="{{ product.getting-started-link }}">Follow our quick start tips</a></li>{% endif %}
			</ul>
	{% endif %}
{% endfor %}
