<!-- Side-navigation-beta is no longer used. This side bar is for XLR and relating items.  -->


<div id="sidebar-wrapper" class="col-md-1">
      <div id="sidebar">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="20" id="nav-beta" >
                <h4>XL Release</h4>
                      <li><a href="/">Docs Home</a></li>
                      <li><a href="/xl-release/how-to/get-started-with-xl-release.html">Get started with XL Release</a></li>
                          <li><a href="/xl-release">Overview</a></li>
                          <li><a href="#">Installation</a>
                              <ul>
                                  <li><a href="/xl-release/concept/requirements-for-installing-xl-release.html">Requirements</a></li>
                                  <li><a href="/xl-release/concept/xl-release-licensing.html">Licensing</a></li>
                                  <li><a href="/xl-release/how-to/install-xl-release.html">Install</a></li>
                                  <li><a href="/xl-release/how-to/set-up-xl-release-production.html">Setup</a></li>
                                  <li><a href="/xl-release/how-to/install-xl-release-as-a-service.html">Install as a service or daemon</a></li>
                                  <li><a href="/xl-release/how-to/install-or-remove-xl-release-plugins.html">Install plugins</a></li>
                              </ul>
                          </li>
                          <li><a href="#">Manage your installation</a>
                              <ul>
                                  <li><a href="/xl-release/concept/logging-in-xl-release.html">Logging</a></li>
    <!-- Removed link             <li><a href="">Configure the XL Release client</a></li> -->
                                  <li><a href="/xl-release/how-to/start-xl-release.html">Start XL Release</a></li>
                                  <li><a href="/xl-release/how-to/shut-down-xl-release.html">Shut down XL Release</a></li>
                                  <li><a href="/xl-release/how-to/back-up-xl-release.html">Back up XL Release</a></li>
                                  <li><a href="/xl-release/how-to/upgrade-xl-release.html">Upgrade XL Release</a></li>
                                  <li><a href="/xl-release/how-to/upgrade-to-7.5.0.html">Upgrade to XL Release 7.5</a></li>
                                  <li><a href="/xl-release/how-to/configure-the-xl-release-repository-in-a-database.html">Configure the JCR repository and archive database</a></li>
                                  <li><a href="/xl-release/how-to/configure-the-xl-release-sql-repository-in-a-database.html">Configure the SQL repository and archive database</a></li>
                                  <li><a href="/xl-release/how-to/configure-cluster.html">Configure cluster mode</a></li>
                                  <li><a href="#">Manage security</a>
                                      <ul>
                                          <li><a href="/xl-release/how-to/configure-roles.html">Configure roles</a></li>
                                          <li><a href="/xl-release/how-to/configure-release-teams-and-permissions.html">Configure release teams and permissions</a></li>
                                          <li><a href="/xl-release/how-to/configure-ldap-security-for-xl-release.html">Configure LDAP security</a></li>
                                          <li><a href="/xl-release/how-to/changing-passwords-in-xl-release.html">Change or reset the admin password</a></li>
                                          <li><a href="/xl-release/how-to/update-the-xl-release-digital-certificate.html">Update the digital certificate</a></li>
                                          <li><a href="/xl-release/how-to/configure-xl-release-to-trust-xl-deploy-server-certificate.html">Configure XL Release to trust an XL Deploy server with a self-signed certificate</a></li>
                                          <li><a href="/xl-release/how-to/configure-ssl-options-for-httprequest.html">Configure SSL options for HttpRequest</a></li>
                                      </ul>
                                  </li><!-- End Manage security -->
                              </ul>
                          </li><!-- End Manage your installation -->
                          <li><a href="#">Model your releases</a>
                              <ul>
    <!-- Removed link             <li><a href="">Template overview</a></li> -->
                                  <li><a href="/navigation-beta/xl-release/templates/phases-and-tasks.html">Work with phases and tasks</a></li><!-- this link works -->
                                  <li><a href="/xl-release/concept/task-life-cycle.html">The task life cycle</a></li>
                                  <li><a href="#">Task types</a>
                                      <ul>
                                          <li><a href="/xl-release/concept/types-of-tasks-in-xl-release.html">Types of tasks in XL Release</a></li>
                                          <li><a href="/xl-release/how-to/create-a-manual-task.html">Manual task type</a></li>
                                          <li><a href="/xl-release/how-to/create-a-create-release-task.html">Create Release Task type</a></li>
                                          <li><a href="/xl-release/how-to/create-an-xl-deploy-task.html">Deploy task type</a></li>
                                          <li><a href="/xl-release/how-to/create-a-gate-task.html">Gate task type</a></li>
                                          <li><a href="/xl-release/how-to/create-a-notification-task.html">Notification task type</a></li>
                                          <li><a href="/xl-release/how-to/create-a-parallel-group.html">Parallel group</a></li>
                                          <li><a href="/xl-release/how-to/create-an-external-script-task.html">External script task type</a></li>
                                          <li><a href="/xl-release/how-to/create-a-sequential-group.html">Sequential group</a></li>
                                          <li><a href="/xl-release/how-to/create-a-user-input-task.html">User Input task type</a></li>
                                          <li><a href="/xl-release/how-to/create-a-jenkins-task.html">Jenkins task type</a></li>
                                          <li><a href="/xl-release/how-to/jira-plugin.html">JIRA task types</a></li>
                                          <li><a href="/xl-release/how-to/remote-script-plugin.html">Remote Script task types</a></li>
                                          <li><a href="/xl-release/how-to/create-a-webhook-task.html">Webhook task type</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Using variables</a>
                                      <ul>
                                          <li><a href="/xl-release/concept/variables-in-xl-release.html">Variables in XL Release</a></li>
                                          <li><a href="/xl-release/how-to/create-release-variables.html">Create release variables</a></li>
                                          <li><a href="/xl-release/how-to/get-a-value-from-a-map-variable.html">How to get a value from a map variable</a></li>
                                          <li><a href="/xl-release/how-to/using-a-configuration-object-to-share-global-variables.html">Using a configuration object to share global variables</a></li>
                                          <li><a href="/xl-release/concept/variable-usage-example.html">Variable usage example</a></li>
                                          <li><a href="/xl-release/how-to/tutorial-using-variables-to-revise-a-jira-issue-list.html">Using variables to revise a JIRA issue list</a></li>
                                      </ul>
                                  </li>
      <!-- Removed link           <li><a href="">Template security</a></li> -->
                              </ul>
                          </li><!-- End Model your releases -->
                          <li><a href="#">Release your software</a>
                              <ul>
                                  <li><a href="#">Release overview</a>
                                      <ul>
                                          <li><a href="/xl-release/concept/release-life-cycle.html">Release life cycle</a></li>
                                          <li><a href="/xl-release/concept/release-views.html">Release views</a></li>
                                          <li><a href="/xl-release/how-to/using-the-release-overview.html">Using the release overview</a></li>
                                          <li><a href="/xl-release/how-to/using-the-risk-aware-view.html">Using risk awareness</a></li>
                                          <li><a href="/xl-release/how-to/using-the-release-flow-editor.html">Using the release flow editor</a></li>
                                          <li><a href="/xl-release/how-to/using-the-table-view.html">Using the release table view</a></li>
                                          <li><a href="/xl-release/how-to/using-the-xl-release-planner.html">Using the release planner</a></li>
                                          <li><a href="/xl-release/concept/release-dashboard-tiles.html">Overview of release dashboard tiles</a></li>
                                          <li><a href="/xl-release/concept/release-activity-logs.html">Release activity logs</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Create and start releases</a>
                                      <ul>
                                          <li><a href="/xl-release/how-to/configure-release-properties.html">Configure release properties</a></li>
                                          <li><a href="/xl-release/how-to/scheduling-releases.html">Schedule releases</a></li>
                                          <li><a href="/xl-release/how-to/start-a-release-from-an-archived-release.html">Start a release from an archived release</a></li>
                                          <li><a href="/xl-release/how-to/start-a-release-from-a-template.html">Start a release from a template</a></li>
                                          <li><a href="/xl-release/how-to/start-a-release-from-another-release.html">Start a release from another release</a></li>
                                          <li><a href="/xl-release/how-to/create-a-release-from-a-git-repository.html">Create a release from a Git repository</a></li>
                                          <li><a href="/xl-release/how-to/add-a-phase-to-a-release-or-template.html">Add a phase to a release or template</a></li>
                                          <li><a href="/xl-release/how-to/add-a-task-to-a-phase.html">Add a task to a phase in a release or template</a></li>
                                          <li><a href="/xl-release/how-to/import-a-release-template.html">Import a release template</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Trigger releases</a>
                                      <ul>
                                          <li><a href="/xl-release/how-to/git-trigger.html">Trigger based on a Git commit</a></li>
                                          <li><a href="/xl-release/how-to/svn-trigger-plugin.html">Trigger based on a Subversion commit</a></li>
                                          <li><a href="/xl-release/how-to/nexus-trigger.html">Trigger based on a Nexus update</a></li>
                                          <li><a href="/xl-release/how-to/time-trigger-plugin.html">Trigger based on a schedule</a></li>
                                      </ul>
                                  </li>
      <!-- Removed link   <li><a href="">Release strategies</a></li> -->
                              </ul>
                          </li><!-- End Release your software -->
                          <li><a href="#">Work with running releases</a>
                              <ul>
                                  <li><a href="/xl-release/how-to/using-the-release-dashboard.html">Using release dashboards</a></li>
                                  <li><a href="/xl-release/how-to/using-the-release-summary.html">Using the release summary</a></li>
                                  <li><a href="/xl-release/how-to/using-the-calendar-view.html">Using the calendar view</a></li>
                              </ul>
                          </li><!-- End Work with running releases -->
                          <li><a href="#">Work with plugins</a>
                              <ul>
                                  <li><a href="/xl-release/how-to/ansible-plugin.html">Ansible</a></li>
                                  <li><a href="/xl-release/how-to/docker-compose-plugin.html">Docker Compose</a></li>
                                  <li><a href="/xl-release/how-to/kubernetes-plugin.html">Kubernetes</a></li>
                                  <li><a href="/xl-release/how-to/remoting-plugin.html">Remoting</a></li>
                                  <li><a href="https://github.com/xebialabs-community?utf8=%E2%9C%93&q=xlr&type=&language=">Community plugins</a></li>
                              </ul>
                          </li><!-- End Work with plugins -->
                          <li><a href="#">Using reports</a>
                              <ul>
                                  <li><a href="/xl-release/concept/reports-in-xl-release.html">Reports in XL Release</a></li>
                                  <li><a href="/xl-release/concept/release-automation-report.html">Release automation report</a></li>
                                  <li><a href="/xl-release/concept/release-value-stream-report.html">Release value stream report</a></li>
                                  <li><a href="/xl-release/concept/dashboard-report.html">XL Release dashboard report</a></li>
                              </ul>
                          </li><!-- End Using reports -->
                          <li><a href="#">Customize XL Release</a>
                              <ul>
                                  <li><a href="/xl-release/concept/api-and-scripting-overview.html">API and scripting overview</a></li>
                                  <li><a href="/xl-release/how-to/create-custom-task-types.html">Create custom task types</a></li>
                                  <li><a href="/xl-release/how-to/create-custom-configuration-types.html">Create custom configuration types</a></li>
                                  <li><a href="/xl-release/how-to/create-a-custom-trigger-type.html">Create custom trigger types</a></li>
                                  <li><a href="/xl-release/how-to/extend-the-xl-release-user-interface.html">Extend the XL Release GUI</a></li>
                                  <li><a href="/xl-release/how-to/declare-custom-rest-endpoints.html">Declare custom REST endpoints</a></li>
                                  <li><a href="/xl-release/how-to/create-custom-tiles.html">Create custom tiles</a></li>
                                  <li><a href="/xl-release/how-to/create-custom-task-types.html">Create custom task types</a></li>
                                  <li><a href="/xl-release/how-to/create-custom-configuration-types.html">Create custom configuration types</a></li>
                                  <li><a href="/xl-release/how-to/using-scheduling-in-scripts.html">Using scheduling in scripts to connect to long running jobs</a></li>
                                  <li><a href="/xl-release/how-to/implement-a-custom-failure-handler.html">Implement a custom failure handler</a></li>
                                  <li><a href="/xl-release/how-to/listen-events.html">Listen to XL Release events</a></li>
                              </ul>
                          </li><!-- End Customize XL Release -->
                          <li><a href="#">Configuration settings</a>
                              <ul>
                                 <li><a href="/xl-release/how-to/configure-general-settings.html">General settings</a></li>
                                 <li><a href="/xl-release/how-to/configure-global-variables.html">Global variables</a></li>
                                 <li><a href="/xl-release/how-to/configure-notification-settings.html">Notification settings</a></li>
                                 <li><a href="/xl-release/how-to/configure-profile-settings.html">Profile settings</a></li>
                                 <li><a href="/xl-release/how-to/configure-smtp-server.html">SMTP server</a></li>
                                 <li><a href="/xl-release/how-to/configure-task-access.html">Task access</a></li>
                              </ul>
                          </li>
                          <li><a href="#">Release manuals</a>
                              <ul>
                                  <li><a href="/xl-release/8.0.x/releasemanual.html">XL Release 8.0.x</a></li>
                                  <li><a href="/xl-release/7.5.x/releasemanual.html">XL Release 7.5.x</a></li>
                                  <li><a href="/xl-release/7.0.x/releasemanual.html">XL Release 7.0.x</a></li>
                                  <li><a href="/xl-release/6.0.x/releasemanual.html">XL Release 6.0.x</a></li>
                              </ul>
                          </li>
                  <!-- End XL Release -->
<!-- Removed link              <li><a href="#">Tutorials</a></li> -->
                  <li><a href="#">API and CI references</a>
                      <ul>
                          <li><a href="/xl-release/latest/releasemanual.html">Release manual</a></li>
                                  <li><a href="/xl-release/latest/rest-docs/">XL Release REST API</a></li>
                                  <li><a href="/jython-docs/#!/xl-release/7.5.x/">XL Release Jython API</a></li>
                                  <li><a href="/xl-release/latest/dsl-api/">XL Release DSL API</a></li>
<!-- Removed link                 <li><a href="">XL Release Javadoc</a></li>  -->
                          </li><!-- End API and CI references -->
                        </ul>
                      </li>
                  <li><a href="#">Plugins</a>
                              <ul>
                                  <li><a href="/xl-release/how-to/ansible-plugin.html">Ansible</a></li>
                                  <li><a href="/xl-release/how-to/docker-compose-plugin.html">Docker Compose</a></li>
                                  <li><a href="/xl-release/how-to/openshift-plugin.html">OpenShift</a></li>
                                  <li><a href="/xl-release/how-to/kubernetes-plugin.html">Kubernetes</a></li>
                                  <li><a href="/xl-release/how-to/remoting-plugin.html">Remoting</a></li>
                                  <li><a href="https://github.com/xebialabs-community?utf8=%E2%9C%93&q=xlr&type=&language=">Community plugins</a></li>
                              </ul>
                          </li><!-- End of plugins -->

                  <li><a href="/videos">Videos</a></li>
                  <li><a href="/community">Community</a></li>
                  <li><a href="/tracker/xl-release-tracker.html">XL Release fix tracker</a></li>
                  <li><a href="/archive">Archive</a></li>


                      <li><p class="small indented"><a href="#" id="collapseAll">Collapse All</a>
                      <a href="#" id="expandAll">Expand All</a></p></li>

  </ul>
</div>
</div><!--/#sidebar-navigation-beta -->
