<!-- Side-navigation-beta is no longer used. This side bar is for XLI and relating items.   -->

<div id="sidebar-wrapper" class="col-md-1">
      <div id="sidebar">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="20" id="nav-beta" >
                  <h4>XL Impact documentation</h4>
                          <li><a href="/">Docs Home</a></li>
                          <li><a href="/xl-impact/how-to/getting-started-with-xl-impact.html">Get started with XL Impact</a></li>
                          <li><a href="/xl-impact">Overview</a>
                          <li><a href="/xl-impact/concept/release-to-customer-filter.html">The mechanics of the Release to Customer Filter</a></li>
                          <li><a href="/xl-impact/concept/data-security-and-infrastructure-in-xl-impact.html">Data security and infrastructure in XL Impact</a></li>
                          <li><a href="/xl-impact/how-to/install-xl-impact.html">Install XL Impact</a></li>

                  <!-- End XL Impact -->
                          <li><a href="/videos">Videos</a></li>
                          <li><a href="/community">Community</a></li>

                          <p class="small indented">
                              <li><a href="#" id="collapseAll">Collapse All</a>
                              <a href="#" id="expandAll">Expand All</a></li>
                          </p>
              </ul>

        </div>
</div><!--/#sidebar-navigation-beta -->
