<div id="sidebar-navigation-beta">
            <ul id="nav-beta">
                  <li><a href="/navigation-beta">Navigation Beta Home</a></li>
                  <li><a href="">Overview</a></li>
                  <li><a href="#">XL Release</a>
                      <ul>
                          <li><a href="#">Getting started</a>
                              <ul>
                                  <li><a href="">XL Release overview</a></li>
                                  <li><a href="/navigation-beta/xl-release/intro/get-started-with-xl-release.html">Get started with XL Release</a></li>
                                  <li><a href="#">Installation</a>
                                      <ul>
                                          <li><a href="/navigation-beta/xl-release/install/requiremens-and-licensing.html">Requirements and licensing</a></li>
                                          <li><a href="/navigation-beta/xl-release/install/install-xl-release.html">Install XL Release</a></li>
                                          <li><a href="/navigation-beta/xl-release/install/install-xl-release-as-a-service.html">Install as a service or daemon</a></li>
                                          <li><a href="/navigation-beta/xl-release/install/install-or-remove-xl-release-plugins.html">Install XL Release plugins</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Release manuals</a>
                                      <ul>
                                          <li><a href="">XL Release 5.0.x</a></li>
                                          <li><a href="">XL Release 4.8.x</a></li>
                                          <li><a href="">XL Release 4.7.x</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li><!-- End Getting started -->
                          <li><a href="#">Model your releases</a>
                              <ul>
                                  <li><a href="">Template overview</a></li>
                                  <li><a href="/navigation-beta/xl-release/templates/phases-and-tasks.html">Work with phases and tasks</a></li><!-- this link works -->
                                  <li><a href="/navigation-beta/xl-release/tasks/task-life-cycle.html">The task life cycle</a></li>
                                  <li><a href="#">Task types</a>
                                      <ul>
                                          <li><a href="/navigation-beta/xl-release/tasks/types-of-tasks-in-xl-release.html">Types of tasks in XL Release</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-manual-task.html">Manual task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-create-release-task.html">Create Release task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-an-xl-deploy-task.html">XL Deploy task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-gate-task.html">Gate task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-notification-task.html">Notification task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-parallel-group.html">Parallel Group</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-an-external-script-task.html">External script task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-sequential-group.html">Sequential Group</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-user-input-task.html">User Input task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-jenkins-task.html">Jenkins task type</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/jira-plugin.html">JIRA task types</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/remote-script-plugin.html">Remote Script task types</a></li>
                                          <li><a href="/navigation-beta/xl-release/tasks/create-a-webhook-task.html">Webhook task type</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="">Using variables</a></li>
                                  <li><a href="">Template security</a></li>
                              </ul>
                          </li><!-- End Model your releases -->
                          <li><a href="#">Release your software</a>
                              <ul>
                                  <li><a href="">Release overview</a></li>
                                  <li><a href="">Create and start releases</a></li>
                                  <li><a href="#">Trigger releases</a>
                                      <ul>
                                          <li><a href="/navigation-beta/xl-release/trigger/git-trigger.html">Trigger based on a Git commit</a></li>
                                          <li><a href="/navigation-beta/xl-release/trigger/svn-trigger-plugin.html">Trigger based on a Subversion commit</a></li>
                                          <li><a href="/navigation-beta/xl-release/trigger/nexus-trigger.html">Trigger based on a Nexus update</a></li>
                                          <li><a href="/navigation-beta/xl-release/trigger/time-trigger-plugin.html">Trigger based on a schedule</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="">Release strategies</a></li>
                              </ul>
                          </li><!-- End Release your software -->
                          <li><a href="#">Work with running releases</a>
                              <ul>
                                  <li><a href="">Work with running releases</a></li>
                                  <li><a href="/navigation-beta/xl-release/running-releases/using-the-release-dashboard.html">Using release dashboards</a></li>
                                  <li><a href="/navigation-beta/xl-release/running-releases/using-the-release-summary.html">Using the release summary</a></li>
                                  <li><a href="/navigation-beta/xl-release/running-releases/using-the-calendar-view.html">Using the calendar view</a></li>
                              </ul>
                          </li><!-- End Work with running releases -->
                          <li><a href="#">Work with plugins</a>
                              <ul>
                                  <li><a href="/navigation-beta/xl-release/plugins/ansible-plugin.html">Ansible</a></li>
                                  <li><a href="/navigation-beta/xl-release/plugins/docker-compose-plugin.html">Docker Compose</a></li>
                                  <li><a href="/navigation-beta/xl-release/plugins/kubernetes-plugin.html">Kubernetes</a></li>
                                  <li><a href="/navigation-beta/xl-release/plugins/remoting-plugin.html">Remoting</a></li>
                                  <li><a href="https://github.com/xebialabs-community?utf8=%E2%9C%93&q=xlr&type=&language=">Community plugins</a></li>
                              </ul>
                          </li><!-- End Work with plugins -->
                          <li><a href="#">Using reports</a>
                              <ul>
                                  <li><a href="">Reports overview</a></li>
                                  <li><a href="">Export release data</a></li>
                              </ul>
                          </li><!-- End Using reports -->
                          <li><a href="#">Manage your installation</a>
                              <ul>
                                  <li><a href="/navigation-beta/xl-release/manage/logging-in-xl-release.html">Logging in XL Release</a></li>
                                  <li><a href="">Configure the XL Release client</a></li>
                                  <li><a href="/navigation-beta/xl-release/manage/start-or-shut-down-xl-release.html">Start or shut down XL Release</a></li>
                                  <li><a href="/navigation-beta/xl-release/manage/back-up-xl-release.html">Back up XL Release</a></li>
                                  <li><a href="/navigation-beta/xl-release/manage/upgrade-xl-release.html">Upgrade XL Release</a></li>
                                  <li><a href="/navigation-beta/xl-release/manage/configure-the-xl-release-repository-in-a-database.html">Configure the repository and archive database</a></li>
                                  <li><a href="/navigation-beta/xl-release/manage/configure-active-hot-standby.html">Configure active/hot-standby</a></li>
                                  <li><a href="#">Manage security</a>
                                      <ul>
                                          <li><a href="/navigation-beta/xl-release/security/users-roles-and-permissions.html">Users, roles, and permissions</a></li>
                                          <li><a href="/navigation-beta/xl-release/security/configure-ldap-security-for-xl-release.html">Configure LDAP security</a></li>
                                          <li><a href="/navigation-beta/xl-release/security/changing-passwords-in-xl-release.html">Change or reset the admin password</a></li>
                                          <li><a href="/navigation-beta/xl-release/security/update-the-xl-release-digital-certificate.html">Update the digital certificate</a></li>
                                          <li><a href="/navigation-beta/xl-release/security/configure-xl-release-to-trust-xl-deploy-server-certificate.html">Configure XL Release to trust an XL Deploy server with a self-signed certificate</a></li>
                                          <li><a href="/navigation-beta/xl-release/security/configure-ssl-options-for-httprequest.html">Configure SSL options for HttpRequest</a></li>
                                      </ul>
                                  </li><!-- End Manage security -->
                              </ul>
                          </li><!-- End Manage your installation -->
                          <li><a href="#">Customize XL Release</a>
                              <ul>
                                  <li><a href="/navigation-beta/xl-release/customize/api-and-scripting-overview.html">API and scripting overview</a></li>
                                  <li><a href="/navigation-beta/xl-release/customize/create-custom-task-types.html">Create custom task types</a></li>
                                  <li><a href="/navigation-beta/xl-release/customize/create-custom-configuration-types.html">Create custom configuration types</a></li>
                                  <li><a href="/navigation-beta/xl-release/customize/create-a-custom-trigger-type.html">Create custom trigger types</a></li>
                                  <li><a href="/navigation-beta/xl-release/customize/extend-the-xl-release-user-interface.html">Extend the XL Release GUI</a></li>
                                  <li><a href="/navigation-beta/xl-release/customize/implement-a-custom-failure-handler.html">Implement a custom failure handler</a></li>
                              </ul>
                          </li><!-- End Customize XL Release -->
                      </ul>
                  </li><!-- End XL Release -->
                  <li><a href="#">XL Deploy</a>
                      <ul>
                          <li><a href="#">Getting started</a>
                              <ul>
                                  <li><a href="">XL Deploy overview</a></li>
                                  <li><a href="">Get started with XL Deploy</a></li>
                                  <li><a href="#">Install XL Deploy</a>
                                      <ul>
                                          <li><a href="">Requirements and licensing</a></li>
                                          <li><a href="">Install using the command-line installer</a></li>
                                          <li><a href="">Install as a service or daemon</a></li>
                                          <li><a href="">Install the XL Deploy CLI</a></li>
                                          <li><a href="">Install XL Deploy §</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Release manuals</a>
                                      <ul>
                                          <li><a href="">XL Deploy 5.5.x</a></li>
                                          <li><a href="">XL Deploy 5.1.x</a></li>
                                          <li><a href="">XL Deploy 5.0.x</a></li>
                                          <li><a href="">XL Deploy 4.5.x</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li><!-- End Getting started -->
                          <li><a href="#">Connect to your infrastructure</a>
                              <ul>
                                  <li><a href="">Connect XL Deploy to your infrastructure</a></li>
                                  <li><a href="">Choose a host and connection type</a></li>
                                  <li><a href="">Set up an SSH connection</a></li>
                                  <li><a href="">Set up an SMB connection</a></li>
                                  <li><a href="">Set up a Telnet connection</a></li>
                                  <li><a href="">Set up a WinRM connection</a></li>
                                  <li><a href="">Troubleshoot connectivity</a></li>
                                  <li><a href="">Discover middleware</a></li>
                              </ul>
                          </li><!-- End Connect to your infrastructure -->
                          <li><a href="#">Set up applications and environments</a>
                              <ul>
                                  <li><a href="">Prepare your application for XL Deploy</a></li>
                                  <li><a href="">Create a deployment package</a></li>
                                  <li><a href="">Define application dependencies</a></li>
                                  <li><a href="">Configure an environment</a></li>
                                  <li><a href="/navigation-beta/xl-deploy/applications-and-environments/dictionaries.html">Using placeholders and dictionaries</a></li><!-- this link works -->
                              </ul>
                          </li><!-- End Set up applications and environments -->
                          <li><a href="#">Deploy an application</a>
                              <ul>
                                  <li><a href="">Deployment overview</a></li>
                                  <li><a href="">Get started with deployment</a></li>
                                  <li><a href="">Use orchestration</a></li>
                                  <li><a href="#">Deploy to remote datacenters</a>
                                      <ul>
                                          <li><a href="">Get started with satellites</a></li>
                                          <li><a href="">Work with satellites</a></li>
                                          <li><a href="">Troubleshoot satellites</a></li>
                                      </ul>
                                  </li>
                              </ul>
                            </li><!-- End Deploy an application -->
                          <li><a href="#">Provision an environment</a>
                              <ul>
                                  <li><a href="">Get started with provisioning</a></li>
                                  <li><a href="">Provision an environment</a></li>
                                  <li><a href="">Provisioning example</a></li>
                              </ul>
                          </li><!-- End Provision an application -->
                          <li><a href="">Use control tasks</a></li>
                          <li><a href="#">Work with the CLI</a>
                              <ul>
                                  <li><a href="">Get started with the CLI</a></li>
                                  <li><a href="">Objects and types in the CLI</a></li>
                                  <li><a href="">Work with configuration items</a></li>
                                  <li><a href="">Discover middleware</a></li>
                                  <li><a href="">Execute tasks</a></li>
                                  <li><a href="">Set up users, roles, and permissions</a></li>
                                  <li><a href="">Troubleshoot the CLI</a></li>
                              </ul>
                          </li><!-- End Work with the CLI -->
                          <li><a href="#">Work with plugins</a>
                              <ul>
                                  <li><a href="#">Standard plugins</a>
                                      <ul>
                                          <li><a href="">Command</a></li>
                                          <li><a href="">Database</a></li>
                                          <li><a href="">File</a></li>
                                          <li><a href="">Generic Model</a></li>
                                          <li><a href="">JEE</a></li>
                                          <li><a href="">PowerShell</a></li>
                                          <li><a href="">Python</a></li>
                                          <li><a href="">Remoting</a></li>
                                          <li><a href="">Webserver</a></li>
                                          <li><a href="">Trigger</a></li>
                                      </ul>
                                  </li><!-- End Standard plugins -->
                                  <li><a href="#">Middleware plugins</a>
                                      <ul>
                                          <li><a href="">Apache Tomcat</a></li>
                                          <li><a href="">BizTalk</a></li>
                                          <li><a href="">F5 BIG-IP</a></li>
                                          <li><a href="">GlassFish</a></li>
                                          <li><a href="">IBM WebSphere Application Server</a></li>
                                          <li><a href="">IBM WebSphere Process Server</a></li>
                                          <li><a href="">IBM WebSphere Liberty Profile Server</a></li>
                                          <li><a href="">IBM WebSphere MQ</a></li>
                                          <li><a href="">JBoss Application Server 5 and 6</a></li>
                                          <li><a href="">JBoss Application Server 7 and up</a></li>
                                          <li><a href="">Microsoft Internet Information Services</a></li>
                                          <li><a href="">Microsoft Windows</a></li>
                                          <li><a href="">NetScaler</a></li>
                                          <li><a href="">Oracle Service Bus</a></li>
                                          <li><a href="">Oracle Service-Oriented Architecture</a></li>
                                          <li><a href="">Oracle WebLogic Application Server</a></li>
                                      </ul>
                                  </li><!-- End Middleware plugins -->
                                  <li><a href="#">Provisioning plugins</a>
                                      <ul>
                                          <li><a href="">Puppet</a></li>
                                          <li><a href="">Amazon EC2</a></li>
                                          <li><a href="">XL Scale</a></li>
                                      </ul>
                                  </li><!-- End Provisioning plugins -->
                                  <li><a href="#">Tools</a>
                                      <ul>
                                          <li><a href="">XL Deploy plugin for Maven</a></li>
                                          <li><a href="">XL Deploy plugin for Jenkins</a></li>
                                          <li><a href="">XL Deploy plugin for Bamboo</a></li>
                                          <li><a href="">Puppet plugin for XL Deploy</a></li>
                                          <li><a href="">Chef plugin for XL Deploy</a></li>
                                          <li><a href="">Docker plugin for XL Deploy</a></li>
                                          <li><a href="">XL Deploy plugin for Team Foundation Server</a></li>
                                          <li><a href="">XL Deploy plugin for Team Foundation Server 2015</a></li>
                                      </ul>
                                  </li><!-- End Tools -->
                                  <li><a href="https://github.com/xebialabs-community?utf8=%E2%9C%93&q=xld&type=&language=">Community plugins</a></li>
                              </ul>
                          </li><!-- End Work with plugins -->
                          <li><a href="">Using the Explorer</a></li>
                          <li><a href="">Using the release dashboard</a></li>
                          <li><a href="">Using reports</a></li>
                          <li><a href="#">Manage your installation</a>
                              <ul>
                                  <li><a href="">Logging in XL Deploy</a></li>
                                  <li><a href="">Start or shut down XL Deploy</a></li>
                                  <li><a href="">Back up XL Deploy</a></li>
                                  <li><a href="">Upgrade XL Deploy</a></li>
                                  <li><a href="">Configure the repository</a></li>
                                  <li><a href="">Manage the repository</a></li>
                                  <li><a href="">Configure failover</a></li>
                                  <li><a href="#">Manage security</a>
                                      <ul>
                                          <li><a href="">Users, roles, and permissions</a></li>
                                          <li><a href="">Configure LDAP security</a></li>
                                          <li><a href="">Change or reset the admin password</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li><!-- End Manage your installation -->
                          <li><a href="#">Customize XL Deploy</a>
                              <ul>
                                  <li><a href="">API and customization overview</a></li>
                                  <li><a href="">Customize CI types</a></li>
                                  <li><a href="#">Customization using rules</a>
                                    <ul>
                                        <li><a href="">Get started with rules</a></li>
                                        <li><a href="">Writing rules</a></li>
                                        <li><a href="">Using steps in rules</a></li>
                                        <li><a href="">Rules tutorial</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#">Customization using Java</a>
                                    <ul>
                                        <li><a href="">Create a plugin</a></li>
                                        <li><a href="">Implement a custom plugpoint</a></li>
                                        <li><a href="">Plugin tutorial</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="">Create custom control tasks</a></li>
                                  <li><a href="">Extend the user interface</a></li>
                              </ul>
                          </li><!-- End Customize XL Deploy -->
                      </ul>
                  </li><!-- End XL Deploy -->
                  <li><a href="">Tutorials</a></li>
                  <li><a href="#">API and CI references</a>
                      <ul>
                          <li><a href="#">XL Release references</a>
                              <ul>
                                  <li><a href="">XL Release REST API</a></li>
                                  <li><a href="">XL Release Jython API</a></li>
                                  <li><a href="">XL Release Javadoc</a></li>
                              </ul>
                          </li><!-- End XL Release references -->
                          <li><a href="#">XL Deploy references</a>
                              <ul>
                                  <li><a href="">XL Deploy REST API</a></li>
                                  <li><a href="">XL Deploy Jython API</a></li>
                                  <li><a href="">XL Deploy Javadoc</a></li>
                                  <li><a href="">UDM CI reference</a></li>
                                  <li><a href="">Satellite CI reference</a></li>
                              </ul>
                          </li><!-- End XL Deploy references -->
                      </ul>
                  </li>
                  <li><a href="#">Plugins</a>
                      <ul>
                          <li><a href="/plugins">All plugins</a></li>
                          <li><a href="">XL Release plugins</a>
                              <ul>
                                  <li><a href="">Ansible</a></li>
                                  <li><a href="">Docker Compose</a></li>
                                  <li><a href="">Kubernetes</a></li>
                                  <li><a href="">Remoting</a></li>
                                  <li><a href="https://github.com/xebialabs-community?utf8=%E2%9C%93&q=xlr&type=&language=">Community plugins</a></li>
                              </ul>
                          </li><!-- End XL Release plugins -->
                          <li><a href="#">XL Deploy plugins</a>
                              <ul>
                                  <li><a href="#">Standard plugins</a>
                                      <ul>
                                          <li><a href="">Command</a></li>
                                          <li><a href="">Database</a></li>
                                          <li><a href="">File</a></li>
                                          <li><a href="">Generic Model</a></li>
                                          <li><a href="">JEE</a></li>
                                          <li><a href="">PowerShell</a></li>
                                          <li><a href="">Python</a></li>
                                          <li><a href="">Remoting</a></li>
                                          <li><a href="">Webserver</a></li>
                                          <li><a href="">Trigger</a></li>
                                      </ul>
                                  </li><!-- End Standard plugins -->
                                  <li><a href="#">Middleware plugins</a>
                                      <ul>
                                          <li><a href="">Apache Tomcat</a></li>
                                          <li><a href="">BizTalk</a></li>
                                          <li><a href="">F5 BIG-IP</a></li>
                                          <li><a href="">GlassFish</a></li>
                                          <li><a href="">IBM WebSphere Application Server</a></li>
                                          <li><a href="">IBM WebSphere Process Server</a></li>
                                          <li><a href="">IBM WebSphere Liberty Profile Server</a></li>
                                          <li><a href="">IBM WebSphere MQ</a></li>
                                          <li><a href="">JBoss Application Server 5 and 6</a></li>
                                          <li><a href="">JBoss Application Server 7 and up</a></li>
                                          <li><a href="">Microsoft Internet Information Services</a></li>
                                          <li><a href="">Microsoft Windows</a></li>
                                          <li><a href="">NetScaler</a></li>
                                          <li><a href="">Oracle Service Bus</a></li>
                                          <li><a href="">Oracle Service-Oriented Architecture</a></li>
                                          <li><a href="">Oracle WebLogic Application Server</a></li>
                                      </ul>
                                  </li><!-- End Middleware plugins -->
                                  <li><a href="#">Provisioning plugins</a>
                                      <ul>
                                          <li><a href="">Puppet</a></li>
                                          <li><a href="">Amazon EC2</a></li>
                                          <li><a href="">XL Scale</a></li>
                                      </ul>
                                  </li><!-- End Provisioning plugins -->
                                  <li><a href="#">Tools</a>
                                      <ul>
                                          <li><a href="">XL Deploy plugin for Maven</a></li>
                                          <li><a href="">XL Deploy plugin for Jenkins</a></li>
                                          <li><a href="">XL Deploy plugin for Bamboo</a></li>
                                          <li><a href="">Puppet plugin for XL Deploy</a></li>
                                          <li><a href="">Chef plugin for XL Deploy</a></li>
                                          <li><a href="">Docker plugin for XL Deploy</a></li>
                                          <li><a href="">XL Deploy plugin for Team Foundation Server</a></li>
                                          <li><a href="">XL Deploy plugin for Team Foundation Server 2015</a></li>
                                      </ul>
                                  </li><!-- End Tools -->
                                  <li><a href="https://github.com/xebialabs-community?utf8=%E2%9C%93&q=xld&type=&language=">Community plugins</a></li>
                              </ul>
                          </li><!-- End XL Deploy plugins -->
                      </ul>
                  </li><!-- End Plugins -->
                  <li><a href="">Videos</a></li>
                  <li><a href="https://github.com/xebialabs-community">Community</a></li>
                  <li><a href="#">Fix Trackers</a>
                    <ul>
                        <li><a href="">XL Release Fix Tracker</a></li>
                        <li><a href="">XL Deploy Fix Tracker</a></li>
                    </ul>
                  </li><!-- End Fix Tracker -->
                  <li><a href="/archive">Archive</a></li>
            </ul>

<p class="small indented">
    <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
</p>

</div><!--/#sidebar-navigation-beta -->
