{% capture this_category %}{% for category in page.categories %}{{ category }}{% endfor %}{% endcapture %}
{% assign this_subject = page.subject %}

<ul>
	{% for node in site.weighted_pages %}
		{% unless page.url == node.url %}
			{% for category in node.categories %}
				{% if category contains this_category %}
					{% if node.subject == this_subject %}
						<li><a href="{{ node.url }}">{{ node.title }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endunless %}
	{% endfor %}
</ul>
