<!-- Start top_bar -->
<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.url }}"><img height="50" src="{{ site.url }}/images/XebiaLabs_logo.png" alt="XebiaLabs"></a>
		</div>
    	<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://blog.xebialabs.com">Blog</a></li>
				<li><a href="http://support.xebialabs.com">Support</a></li>
				<li><a href="http://xebialabs.com/contact/">Contact</a></li>
			</ul>
		</div> <!-- /.navbar-collapse -->
	</div> <!-- /.container-fluid -->
</div> <!-- /.navbar -->
<!-- End top_bar -->