<div class="col-md-3 in-product-help-text">
    <p class="in-product-help-subheading">How to...</p>
    <ul class="list-unstyled in-product-help-list">
    	<li><a href="{{ site.url }}/xl-deploy/how-to/get-started-with-xl-deploy.html" target="_blank">Get started with XL Deploy</a></li>
        <li><a href="{{ site.url }}/xl-deploy/how-to/add-a-package-to-xl-deploy.html" target="_blank">Create an application</a></li>
        <li><a href="{{ site.url }}/xl-deploy/how-to/create-an-environment-in-xl-deploy.html" target="_blank">Create an environment</a></li>
        <li><a href="{{ site.url }}/xl-deploy/how-to/deploy-an-application.html" target="_blank">Deploy an application</a></li>
        <li><a href="{{ site.url }}/xl-deploy/concept/types-of-orchestrators-in-xl-deploy.html" target="_blank">Orchestrate a deployment</li>
        <li><a href="{{ site.url }}/xl-deploy/how-to/using-placeholders-in-xl-deploy.html" target="_blank">Use placeholders</a></li>
        <li><a href="{{ site.url }}/xl-deploy/how-to/connect-xl-deploy-to-your-infrastructure.html" target="_blank">Connect to your infrastructure</a></li>
        <li><a href="{{ site.url }}/xl-deploy/concept/provisioning-through-xl-deploy.html" target="_blank">Provision a cloud-based environment</a></li>
        <li><a href="{{ site.url }}/xl-deploy/how-to/using-the-ci-explorer.html" target="_blank">Use the CI Explorer</a></li>
    </ul>
</div>
