<div class="col-md-3 in-product-help-text">
    <p class="in-product-help-subheading">Videos</p>
    <ul class="list-unstyled in-product-help-list">
        <li><a href="/xl-deploy/in-product-help/in-product-help-a-quick-look.html">A quick look at XL Deploy</a></li>
        <li><a href="/xl-deploy/in-product-help/in-product-help-getting-started-series.html">Getting started with XL Deploy</a></li>
        <li><a href="/xl-deploy/in-product-help/in-product-help-visibility-automation-control.html">Visibility, automation, and control with XL Release and XL Deploy</a></li>
        <li><a href="{{ site.url }}/xl-deploy/in-product-help/in-product-help-tomcat.html">Apache Tomcat</a></li>
        <li><a href="{{ site.url }}/xl-deploy/in-product-help/in-product-help-jboss-wildfly.html">JBoss AS/WildFly</a></li>
        <li><a href="{{ site.url }}/xl-deploy/in-product-help/in-product-help-websphere.html">WebSphere Application Server</a></li>
    </ul>
</div>
