---
layout: in-product-help
title: A quick look at XL Deploy
---

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 align="center">Welcome to <img class="img-valign" width="275" src="/images/logos/xl_deploy_logo.svg"></h1>
			<hr />
		</div>
	</div>
	<div class="row">
        {% include xl-deploy-in-product-video-menu.html %}
        <div class="col-md-6 text-center">
			<a href="{{ site.url }}/xl-deploy/how-to/using-the-explorer.html" target="_blank"><img class="img-responsive img-no-border" src="in-product-help/xl-deploy-6.0.0-ci-explorer-deployment-package.png"></a><br />
			<p>Upgrade to <strong>XL Deploy 6.0.0</strong> and check out the Technical Preview at <code>XL_DEPLOY_SERVER_URL:PORT/technical-preview.html</code>.</p>
		</div>
        {% include xl-deploy-in-product-help-topic-menu.html %}
	</div>
</div>
