---
layout: list-in-sidebar
title: XL Deploy
product-id: xl-deploy
weight: 1
---

<p>Welcome to one-click deployment! XL Deploy is the #1 award-winning deployment automation solution to support DevOps and Continuous Delivery teams. With XL Deploy, you take the fast, easy route to seamless, end-to-end automated application delivery in the cloud and on premise. Start deploying 10x faster. XL Deploy also features out-of-the-box integration with all build, provisioning, middleware and cloud solutions.</p>

{% include product_doc_list.html %}

{% include kb_article_list_per_product.html %}

<h2>Plugins</h2>

<p>list plugin documentation here</p>