---
layout: list-in-sidebar
title: XL Deploy
product-id: xl-deploy
weight: 1
---

{% include product_blurb.html %}

{% include product_community_edition_link.html %}

<h2 id="videos">Videos</h2>

    <p>Watch our videos about XL Deploy:</p>

    <ul>
        <li><a href="https://youtu.be/rmbH98YeWck" target="_blank">A quick look at XL Deploy</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLIIv46GEoJ7ZvQd4BbzdMLaH0tc-gYyA1" target="_blank">Getting started with XL Deploy</a> (series)</li>
        <li><a href="https://www.youtube.com/watch?v=rNVkeHeVB-Q" target="_blank">How XL Deploy works with Apache Tomcat</a></li>
        <li><a href="https://www.youtube.com/watch?v=o_J3ov9jAzI" target="_blank">How XL Deploy works with JBoss Application Server/WildFly</a></li>
        <li><a href="https://www.youtube.com/watch?v=XEh5QGcpn5U" target="_blank">How XL Deploy works with IBM WebSphere</a></li>
    </ul>

{% include product_dev_dashboard_link.html %}

{% include product_legacy_doc_list.html %}

<div class="row">
	<div class="col-sm-6">
		{% include product_topic_list_concept.html %}
	</div>
	<div class="col-sm-6">
		{% include product_topic_list_how-to.html %}
	</div>
</div>

{% include product_doc_browse_by_subject.html %}

{% include product_doc_browse_by_tag.html %}
