---
layout: default
title: Tips & tricks blog
weight: 30
---

<p>Welcome to the XebiaLabs tips & tricks blog! Here, you'll find the latest helpful information from XL Platform experts.</p>

{% for post in paginator.posts %}
	{% include blog_post_list.html %}
{% endfor %}

<!-- Pagination -->
<div>
	<ul class="pager">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<li class="previous"><a href="/tips-and-tricks" title="Previous page">&laquo; Previous</a></li>
			{% else %}
				<li class="previous"><a href="{{ paginator.previous_page_path }}" title="Previous Page">&laquo; Previous</a></li>
			{% endif %}
		{% endif %}
    
		{% if paginator.next_page %} 
			<li class="next"><a href="{{ paginator.next_page_path }}" title="Next page">Next &raquo;</a></a>
		{% endif %} 
	</ul>
</div>

<p><a type="application/atom+xml" href="atom.xml">Subscribe</a></p>
