---
layout: list-in-sidebar
title: Tips & tricks blog
weight: 6
---

{% for post in paginator.posts %}
	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	{% assign author = site.data.authors[post.author] %}
	<p>
		{% if author %}
			{{ author.name }} | 
		{% endif %}
		<a href="{{ post.url }}">{{ post.date | date: "%-d %B %Y" }}</a>
	</p>
	<div class="content">
		{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ post.url }}">Read more  &#187;</a>
	</div>
{% endfor %}

<!-- Pagination -->
<div>
	<ul class="pager">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<li class="previous"><a href="/tips-and-tricks" title="Previous page">&laquo; Previous</a></li>
			{% else %}
				<li class="previous"><a href="{{ paginator.previous_page_path }}" title="Previous Page">&laquo; Previous</a></li>
			{% endif %}
		{% endif %}
    
		{% if paginator.next_page %} 
			<li class="next"><a href="{{ paginator.next_page_path }}" title="Next page">Next &raquo;</a></a>
		{% endif %} 
	</ul>
</div>

<p><a type="application/atom+xml" href="atom.xml">Subscribe</a></p>
