---
layout: list-in-sidebar
title: XL TestView
product-id: xl-testview
weight: 6
---

{% include product_blurb.html %}

{% include product_community_edition_link.html %}

<h2 id="videos">Videos</h2>

    <p>Watch our videos about XL TestView:</p>

    <ul>
        <li><a href="https://www.youtube.com/watch?v=_17xKtB3iWU" target="_blank">Why do I need XL TestView</a></li>
        <li><a href="https://www.youtube.com/watch?v=H1aQ6uHeIbM" target="_blank">Key benefits of XL TestView</a></li>
        <li><a href="https://www.youtube.com/watch?v=7NaCEJVdCBQ" target="_blank">Getting started with XL TestView</a></li>
    </ul>

{% include product_dev_dashboard_link.html %}

<div class="row">
	<div class="col-sm-6">
		{% include product_topic_list_concept.html %}
	</div>
	<div class="col-sm-6">
		{% include product_topic_list_how-to.html %}
	</div>
</div>

{% include product_doc_browse_by_subject.html %}

{% include product_doc_browse_by_tag.html %}
