{% include head.html %}

<main id="main">

	<div id="top-bar">
		<div class="container-fluid">
			<div class="row hidden-print">
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 xebialabs-logo">
					<a href="https://xebialabs.com"><img height="50" class="img-no-border" src="/images/logos/xebialabs-standard.png"></a>
				</div>
				<!-- Google Custom Search -->
				<div class="col-lg-4 col-md-4 col-sm-6 hidden-xs pull-right">
					<script>
					  (function() {
					    var cx = '001962156878164368335:2zdytqwe4ms';
					    var gcse = document.createElement('script');
					    gcse.type = 'text/javascript';
					    gcse.async = true;
					    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
					    var s = document.getElementsByTagName('script')[0];
					    s.parentNode.insertBefore(gcse, s);
					  })();
					</script>
					<gcse:search></gcse:search>
				</div>
				<div class="col-lg-5 col-md-5 hidden-sm hidden-xs pull-right">
					<ul class="list-inline xltopmenu pull-right">
						<li><a href="http://blog.xebialabs.com">Blog</a></li>
						<li><a href="/support.html">Support</a></li>
						<li><a href="http://xebialabs.com/contact/">Contact</a></li>
					</ul>
				</div>
			</div> <!-- /.row -->
		</div><!-- /.container-fluid -->
	</div><!-- /#top-bar -->

	<div id="top-ribbon">
		<div class="container-fluid">
			<div class="row">
			</div>
		</div>
	</div>

	<!-- Page content -->
	{{ content }}

{% comment %} The remaining parts of the layout are in topic.html or page.html, so that a different sidebar can be used for the navigation beta. {% endcomment %}
