{% include head.html %}

<main id="main">

	<div id="top-bar">
		<div class="container-fluid">
			<div class="row hidden-print">
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 xebialabs-logo">
					<a href="https://xebialabs.com"><img height="50" class="img-no-border" src="/images/logos/xebialabs-standard.jpg"></a>
				</div>
				{% comment %}
				<!-- SiteSearch360 search box
		      <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs pull-right sitesearch360">
					<input id="searchBox" type="text" placeholder="Search" />
				</div> -->
				{% endcomment %}
				<div class="col-lg-5 col-md-5 hidden-sm hidden-xs pull-right">
					<ul class="list-inline xltopmenu pull-right">
						<li><a href="http://blog.xebialabs.com">Blog</a></li>
						<li><a href="/support.html">Support</a></li>
						<li><a href="http://xebialabs.com/contact/">Contact</a></li>
					</ul>
				</div>
			</div> <!-- /.row -->
		</div><!-- /.container-fluid -->
	</div><!-- /#top-bar -->

	<div id="top-ribbon">
		<div class="container-fluid">
			<div class="row">
			</div>
		</div>
	</div>

	<!-- Page content -->
	{{ content }}

{% comment %} The remaining parts of the layout are in topic.html or page.html, so that a different sidebar can be used for the navigation beta. {% endcomment %}
