<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="author" content="XebiaLabs Inc.">
	
	<title>XL Deploy help</title>

	<!-- Styles -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/xebialabs.css" type="text/css">

</head>

<div class="container">
	{{ content }}
</div>

</body>
</html>
