---
layout: default
---

<div class="post">

	{% comment %} Breadcrumbs must be created manually in posts because the breadcrumbs plugin only works on pages {% endcomment %}

	<ol class="breadcrumb">
		<li><a href="{{ site.url }}">XebiaLabs documentation</a></li>
		<li><a href="{{ site.url }}/knowledge-base">Knowledge base</a></li>
		<li class="active">{{ page.title }}</li>
	</ol>
	<div class="page-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</div>

	{% include kb_article_tag_list.html %}
		
	{{ content }}

	{% include kb_article_related_articles.html %}

</div>