---
layout: default
---

<div class="post">

	<div class="page-header">
		<h1 class="post-title">{{ page.title }} <small>Posted {{ page.date }}</small></h1>
	</div>

	{% assign author = site.data.authors[page.author] %}

	{% if author %}
		<span><img width=40 src="{{ author.email | to_gravatar }}" alt="A photo of {{ author.name }}" /> Written by {{ author.name }}</a></span>
	{% endif %}

	{% include kb_article_tag_list.html %}
		
	{{ content }}

	{% include kb_article_related_articles.html %}

</div>