---
layout: default
---

<div class="page">

	{% include breadcrumbs.html %}
	
	<div class="alert alert-info" role="alert">XL Deploy 4.5.0 introduced a new, easy-to-use rules system for customizing deployment plans. Refer to <a href="/xl-deploy/concept/understanding-xl-deploy-rules.html">Understanding XL Deploy rules</a> to learn more.</div>

	<!-- Page subject -->
	<!-- 
		{% for subject in page.subject %}
			{{ page.subject }}
		{% endfor %}
	-->

	<!-- Page tags -->
	<!-- {% include page_tag_list.html %} -->
	
	<div class="page-header">
		<h1 class="page-title">{{ page.title }}</h1>
	</div>

	{{ content }}
	
</div>
