---
layout: default
---

<div id="content" class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="well">
                <p>This dashboard shows planned major releases and maintenance releases of {{ page.product.title }} and its plugins.
                    To filter the list, click an icon below or enter a search term (such as an issue number) in the box.
                    Note that, while this information indicates the planned delivery of features and bug fixes, it does not represent a
                    commitment.</p>
            </div>
            <div class="col-md-offset-2 col-md-7 col-xs-12 text-center">
                <h2><img src="/images/logos/{{ page.product.name }}-logo.png" class="logo"
                         alt="{{ page.product.title }}"> Upcoming Releases</h2>
            </div>
        </div>
        <div class="row filters">
            <div class="col-md-offset-2 col-md-7 col-xs-12 text-center">
                <span><i class="icon icon-trophy text-product"></i> <a href="#" class="filter-target">Product</a></span>
                <span><i class="icon icon-plug text-plugin"></i> <a href="#" class="filter-target">Plugins</a></span>
                <span><i class="glyphicon glyphicon-flag text-major"></i> <a href="#"
                                                                             class="filter-type">Major</a></span>
                <span><i class="icon icon-bug text-maintenance"></i> <a href="#"
                                                                        class="filter-type">Maintenance</a></span>
                <span><i class="icon icon-sort text-all"></i> <a href="#" class="filter-off">Show all</a></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-7">
                <form class="form-search form-inline">
                    <input id="issue-filter" type="text" class="form-control search-query input-sm"
                           placeholder="Search issue..."/>
                </form>
                <br>

                <div id="noresults" class="alert alert-info btn-group-sm text-center" role="alert"
                     style="display: none; padding: 5px;">No issues found
                </div>
            </div>
        </div>

        {% for release in page.product.upcoming_releases %}
        <div class="row release" data-release-type="{{ release.release_type }}"
             data-release-target="{{ release.release_target }}">
            <hr>
            <div class="col-md-2">
                {% if release.release_target == "Product" %}
                    <span class="label bg-product">
                        <i class="icon icon-trophy"></i>
                        <span>{{ release.release_target }}</span>
                    </span>
                {% else %}
                    <span class="label bg-plugin">
                        <i class="icon icon-plug"></i>
                        <span>{{ release.release_target }}</span>
                    </span>
                {% endif %}
                {% if release.release_type == "Major" %}
                    <span class="label bg-major">
                        <i class="glyphicon glyphicon-flag"></i>
                        <span>{{ release.release_type }}</span>
                    </span>
                {% else %}
                    <span class="label bg-maintenance">
                        <i class="icon icon-bug"></i>
                        <span>{{ release.release_type }}</span>
                    </span>
                {% endif %}
            </div>
            <div class="col-md-7">
                <b>{{ release.title }} Release</b>

                <ul class="list-unstyled issue-list">
                    <ul class="list-unstyled issue-sublist">
                        {% for issue in release.stories %}
                        {% if forloop.length and forloop.first %}
                        <span class="issue-header">New features</span>
                        <hr/>
                        {% endif %}
                        <li>{{ issue.key }} - {{ issue.summary }}</li>
                        {%if issue.description != '' %}
                        <a href="#" data-toggle="{{release.id}}-{{issue.key}}-desc" class="issue-more" style="font-size: 75%">more</a><br/>
                        <div id="{{release.id}}-{{issue.key}}-desc" class="issue-description" style="display: none;">{{ issue.description }}</div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <ul class="list-unstyled issue-sublist">
                        {% for issue in release.improvements %}
                        {% if forloop.length and forloop.first %}
                        <span class="issue-header">Improvements</span>
                        <hr/>
                        {% endif %}
                        <li>{{ issue.key }} - {{ issue.summary }}</li>
                        {%if issue.description != '' %}
                        <a href="#" data-toggle="{{release.id}}-{{issue.key}}-desc" class="issue-more" style="font-size: 75%">more</a><br/>
                        <div id="{{release.id}}-{{issue.key}}-desc" class="issue-description" style="display: none;">{{ issue.description }}</div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <ul class="list-unstyled issue-sublist">
                        {% for issue in release.bugs %}
                        {% if forloop.length and forloop.first %}
                        <span class="issue-header">Bug fixes</span>
                        <hr/>
                        {% endif %}
                        <li>{{ issue.key }} - {{ issue.summary }}
                        {%if issue.description != '' %}
                        <a href="#" data-toggle="{{release.id}}-{{issue.key}}-desc" class="issue-more" style="font-size: 75%">more</a><br/>
                        <div id="{{release.id}}-{{issue.key}}-desc" class="issue-description" style="display: none;">{{ issue.description }}</div>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </ul>
            </div>
            <div class="col-md-2">
                <b>Planned release:</b>
                <br/>

                <p class="text-all">
                    {% if release.precise_date %}
                    {{ release.release_date | date: '%B' }}
                    {% else %}
                    {% assign rm = release.release_date | date: "%-m" %}
                    {% case rm %}
                    {% when '1' or '2' or '3' %} Q1
                    {% when '4' or '5' or '6' %} Q2
                    {% when '7' or '8' or '9' %} Q3
                    {% when '10' or '11' or '12' %} Q4
                    {% endcase %}
                    {% endif %}
                    {{ release.release_date | date: '%Y' }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    function toggleNoResultsMsg() {
        if ($(".release:visible").length == 0) {
            $("#noresults").show();
        }
        else {
            $("#noresults").hide();
        }
    }
    function toggleView(parent, keyword) {
        var visibleChildren = parent.find("li").filter(function () {
            return $(this).css('display') != 'none';
        });

        if (visibleChildren.length == 0 && keyword) {
            parent.hide();
        }
        else {
            parent.show();
        }
    }

    function filterIssues(keyword) {
        $(".issue-list").each(function () {
            $(this).find("li").each(function () {
                if ($(this).text().search(new RegExp(keyword, "i")) < 0) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });

            $(this).children(".issue-sublist").each(function () {
                toggleView($(this), keyword);
            });

            toggleView($(this).parents(".release"), keyword);
        });
        toggleNoResultsMsg();
    }

    $(document).ready(function () {
        $("a.issue-more").click(function() {
            var $target = $("#" + $(this).data("toggle"));
            $target.toggle();
            if($target.is(':visible')) {
                $(this).text("less");
            } else {
                $(this).text("more");
            }
            return false;
        });

        filterIssues($("#issue-filter").val());
        $("#issue-filter").keyup(function () {
            filterIssues($(this).val());
        });

        $(".filters a").click(function () {
            $("#issue-filter").val("");
            filterIssues("");

            var text = $(this).text();
            var attribute;
            if ($(this).hasClass("filter-target")) {
                attribute = "release-target";
            }
            else if ($(this).hasClass("filter-type")) {
                attribute = "release-type";
            }

            $(".release").each(function () {
                if (attribute) {
                    if ($(this).data(attribute) === text) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                }
                else {
                    $(this).show();
                }
            });
            toggleNoResultsMsg();
            return false;
        });
    });
</script>