/* XL Deploy welcome screen */

.welcome-to-xl-deploy {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-family: OpenSans, Helvetica, Arial, sans-serif;
}
.welcome-to-xl-deploy h1 {
	text-align: center;
}
.welcome-body {
	margin-left: 75px;
	line-height: 2em;
}
.welcome-body li {
	list-style: none;
}
.img-valign {
  vertical-align: middle;
}
