/* XebiaLabs-specific styles */
.hidden { 
	display: none; 
}
.indented { 
	margin-left: 40px; 
}
.breadcrumb {
	background-color: #FFFFFF;
	padding-left: 0;
}
img {
	max-width: 650px;
}
.blogpostlist li {
	margin-bottom: 20px;
}
.indexpagerow {
	margin-top: 35px;
}
a img { 
	border: none;  
}
.splashpagelogo {
	margin-bottom: 20px;
}

/* Top bar */
#top-bar {
	background-color: #003366;
	min-height: 70px;
	margin-bottom: 0px;
}
#top-bar a {
	color: #FFF;
}
#top-ribbon {
     background: url('/images/lines-blue.png');
     padding: 0px;
     height: 20px;
     margin-top: 0px;
     margin-bottom: 20px;
}
.xebialabs-logo {
	padding-top: 15px;
	padding-left: 20px; 
}
.xltopmenu {
	height: 75px;
	padding-top: 25px;
}

/* Vertical sidebar navigation */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
  }
  .sidebar-nav .navbar ul {
	float: none;
  }
  .sidebar-nav .navbar ul:not {
	display: block;

  }
  .sidebar-nav .navbar li {
	float: none;
	display: block;
  }
  .sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
  }
}
@media (min-width: 992px) {
  .navbar {
	  width: 212px;
  }
}
@media (min-width: 1200px) {
  .navbar {
	  width: 262px;
  }
}
.sidebar-nav .navbar-header { float: none; }

/* Google Custom Search overrides */
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button, .gsc-inline-block {
  	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    line-height: normal; 
}
.gsc-tabsArea div {
	overflow: visible !important; 
}
.cse .gsc-control-cse, .gsc-control-cse {
	background: none !important;
	border: none !important;
}
.gs-title a {
	color: #15C !important;
}
#top-bar, .navbar-form, .navbar-right {
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  	/* Margin bottom by footer height */
  	margin-bottom: 60px;
	font-family: 'effra', 'Helvetica', Arial, sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #001D3B;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 100;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #001D3B;
  color: #fff;
} 

/* Scroll-to-top button styles */
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    color: #888888;
    width: 50px;
    font-size: 38px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	color: #777777;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/* IE10 viewport width workaround */
/* See http://getbootstrap.com/getting-started/#support-ie10-width */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* Collapsible bulleted list */
.expList ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.expList li {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-position: 1px 8px;
    padding-left: 20px;
    background-repeat: no-repeat;
}
.expList li li {
    list-style-type: circle;
    margin-left: 20px;
    padding: 0;
}
 
/* Collapsed state for list element */
.expList .collapsed {
    background-image: url(/images/bullet_right_arrow.png);
}
/* Expanded state for list element */
/* NOTE: This class must be located UNDER the collapsed one */
.expList .expanded {
    background-image: url(/images/bullet_down_arrow.png);
}

/* Product dashboard page */

input.search-query {
    padding-left: 26px;
    width: 100% !important;
}

form.form-search {
    position: relative;
    margin-top: 5px;
}

form.form-search:before {
    display: block;
    width: 12px;
    height: 12px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 6px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}

.dashboard {
}

.dashboard .logo {
    height: 60px;
    padding-bottom: 10px;
}

.dashboard .filters a {
    color: #555555;
    margin-right: 15px;
    font-size: 90%;
    text-decoration: underline;
}

.dashboard .filters a:focus {
    outline: none;
}

.dashboard .filters span {
    display: inline-block;
}

.dashboard .label {
    font-weight: 200;
    margin-bottom: 5px;
    display: inline-block;
}

.dashboard .issue-header {
    margin-top: 5px;
    display: inline-block;
    text-decoration: underline;
}

.text-product {
    color: #d8543e;
}

.text-plugin {
    color: #25a29f;
}

.text-major {
    color: #428bca;
}

.text-maintenance {
    color: #a62b7c;
}

.text-all {
    color: #999999;
}

.bg-maintenance {
    background-color: #a62b7c;
}

.bg-major {
    background-color: #428bca;
}

.bg-product {
    background-color: #d8543e;
}

.bg-plugin {
    background-color: #25a29f;
}

.square-logo {
    margin: 5px 25px 10px 25px;
    display: inline-block;
    height: 45px;
}
