---
list_in_sidebar: true
title: XL Release
product-id: xl-release
sidebar_weight: 3
no_breadcrumbs: true
---

{% include product_blurb.html %}

{% include product_legacy_doc_list.html %}

<div class="row">
	<div class="col-sm-6">
		{% include product_topic_list_concept.html %}
	</div>
	<div class="col-sm-6">
		{% include product_topic_list_how-to.html %}
	</div>
</div>

{% include product_doc_browse_by_subject.html %}

{% include product_doc_browse_by_tag.html %}

{% include product_video_list.html %}
