---
layout: list-in-sidebar
title: XL Release
product-id: xl-release
weight: 2
---

<p>XL Release is an enterprise-class release management software for DevOps and Continuous Delivery. With XL Release, DevOps and Application teams can finally integrate release management and execution while providing a path to fully automated delivery pipelines, resulting in the faster delivery of software.</p>

{% include product_doc_list.html %}

{% include kb_article_list_per_product.html %}

<h2>Plugins</h2>

<p>list plugin documentation here</p>